.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
}

.appInfo {
  padding: 20px;
  background: #ffffff;
  box-shadow: 1px 1px 5px #c2c2c2;
  border-radius: 10px;

  .top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-size: 18px;
  }
}

.info {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #c2c2c2;

    span {
      font-family: 'Noto Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;

      a {
        margin: 0 10px;
      }
    }
  }
}

.right {
  .rightContent {
    padding: 40px;
    background: #ffffff;
    box-shadow: 1px 1px 5px #c2c2c2;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .rightTop {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #c2c2c2;

    span {
      font-family: 'Noto Sans';
      font-size: 16px;
      color: #313a33;
    }
  }

  .btnItems {
    display: flex;
    justify-content: flex-end;
    button {
      margin-right: 10px;
    }
  }
}
