.myApplicatios {
  grid-column-start: 1;
  grid-column-end: 4;
  background: #ffffff;
  border-radius: 10px;
  // padding: 10px 20px;
  filter: drop-shadow(1px 1px 5px rgba(194, 194, 194, 0.2));

  .myApplicatiosTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(201, 221, 205);
    border-radius: 10px 10px 0px 0px;
    padding: 17px 30px;

    h2 {
      font-family: 'Noto Serif';
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      color: #313a33;
    }
    button {
      display: flex;
      align-items: center;
      font-family: 'Noto Sans';
      font-weight: 400;
      font-size: 14px;
      padding: 5px;
      background-color: transparent;

      span {
        margin-right: 10px;
      }
    }
  }
  ul {
    max-height: 249px;
    overflow-y: auto;
    list-style: none;
    li {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 20px;
      align-items: center;
      padding: 12px 0;
      margin: 0 10px;
      border-bottom: 1px solid rgba(64, 74, 91, 0.2);
      font-family: 'Bai Jamjuree';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      text-align: center;
      color: #313a33;
      transition: 0.3s ease-in-out;

      button {
        padding: 6px;
        border-radius: 5px;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px;
      }
    }
  }
}
