.header {
	margin-bottom: 50px;
	// padding: 50px 0;
	// display: flex;
	// justify-content: space-between;
	// align-items: center;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-gap: 20px;
	align-items: center;

	h1 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	input {
		grid-column-start: 3;
		grid-column-end: 5;
	}
	div {
		grid-column-start: 6;
	}
}
