.top {
	button {
		padding: 9.5px 37.5px;
		background: #fff;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		margin-right: 20px;
		font-family: 'Roboto';
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		cursor: pointer;
		transition: 0.3s ease-in-out;

		&:hover {
			background: rgba(243, 243, 243, 0.4);
		}
	}
}

.active {
	background: #a171ef;
	border: 1px solid rgba(0, 0, 0, 0.3);
}
