.aside {
  // position: fixed;
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 300px;
  min-width: 250px;
  height: 100vh;
  background: #c9ddcd;
  border-radius: 0px 20px 20px 0px;
  padding-left: 40px;

  img {
    margin: 45px 0;
  }

  ul {
    list-style: none;
    a {
      text-decoration: none;

      li {
        display: flex;
        align-items: center;
        width: 200px;
        padding: 14px;
        margin-bottom: 10px;
        color: #313a33;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        &:hover {
          background: #fafafa99;
          border-radius: 10px;
        }
        svg {
          margin-right: 10px;
          path {
            transition: 0.3s ease-in-out;
            fill: #000;
          }
        }
      }
    }
  }
}

.active {
  li {
    background: #fafafa;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
  }
}
