.top {
  list-style: none;
  button {
    display: inline-block;
    padding: 9.5px 37.5px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
  }
}

.active {
  background: #6ea079;
  color: #ffffff;
}
a {
  color: #000000;
  text-decoration: none;
}

.list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  height: 60vh;
  overflow: auto;
  li {
    max-height: 160px;
    overflow: auto;
    display: flex;
    width: 280px;
    flex-direction: column;
    padding: 20px;
    margin: 20px 20px 20px 0;
    background: #ffffff;
    box-shadow: 1px 1px 10px rgba(194, 194, 194, 0.5);
    outline: 2px solid rgba(243, 243, 243, 0.5);
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      outline: 2px solid #c9ddcd;
    }
  }
}

.id {
  margin-bottom: 13px;
  font-family: 'Noto Sans';
  font-weight: 700;
  font-size: 20px;
}

.department {
  margin-bottom: 12px;
  font-family: 'Noto Sans';
  font-size: 18px;
}
.problems {
  margin-bottom: 8px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 18px;
}

.room {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
}

.addBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(194, 194, 194, 0.2);
  border-radius: 10px;
  border: none;

  span {
    margin-right: 10px;
  }
}

.optional {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  div {
    display: flex;
    align-items: center;

    h2 {
      margin-right: 30px;
    }
  }
}
