/* .main {
    display: flex;
}

.content{
    flex: 1;
    padding: 0 60px;
} */
.main {

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 20px;

}

.content {
    height: 100vh;
    padding: 50px 0;
    grid-column-start: 3;
    grid-column-end: 12;
}