.form {
  padding: 37px 60px 37px 20px;
  background: #fafafa;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 380px;
  height: 360px;
}

.form__heading {
  width: 248px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #313a33;
}

.form__login,
.form__password {
  padding: 12px 10px;
  margin-bottom: 10px;
  width: 300px;
  background: #ffffff;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
}

.form__password {
  margin-bottom: 30px;
}

.login__heading {
  margin-bottom: 55px;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
  text-align: center;
  color: #313a33;
}

.center {
  display: flex;
}

.right,
.left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 50vw;
}
.left {
  background-color: #c9ddcd;
}
